<h1><%= link_to @autoscoring_project_other_variable.autoscoring_project.name, admin_autoscoring_project_path(@autoscoring_project_other_variable.autoscoring_project)%> </h1>
<h1><%= @autoscoring_project_other_variable.variable.name %> Variable Translations Import</h1>

<p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are required.</p>

<ul>
    <li>
      <strong>Code</strong> - String Type
    </li>
    <li>
      <strong>Description</strong> - String type
    </li>
</ul>

<%= semantic_form_for [:admin, @autoscoring_project_other_variable_translation_import] do |f| %>
	<% #f.semantic_errors :autoscoring_project_other_variable_translation_import %>
	<% if @autoscoring_project_other_variable_translation_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@autoscoring_project_other_variable_translation_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
      <% @autoscoring_project_other_variable_translation_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.inputs "File" do %>
   		<%= f.input :file, :as => :file, :label => true %>
		<%= f.input :autoscoring_project_other_variable_id, :as => :hidden, :value =>  @autoscoring_project_other_variable.id %>
		<% if @autoscoring_project_other_variable.has_uploaded_translations? %>
			<%= f.input :delete_existing_records, :as => :boolean %>
		<% else %>
			<%= f.input :delete_existing_records, :as => :hidden, :value => false %>
		<% end %>
	<% end %>
	<%= f.actions do %>
  		<%= f.action :submit,  :label => "Import" %>
	<% end %>
<% end %>

<hr />

<% if @autoscoring_project_other_variable.has_uploaded_translations? %>
<h1><%= @autoscoring_project_other_variable.variable.name %> Variable Current Translations(n= <%= @autoscoring_project_other_variable_translations.count %>)</h1>
<div>
	<ul>
		<% @autoscoring_project_other_variable_translations.each do |translation| %>
			<li><strong><%= translation.code %></strong>  - <%= translation.description %></li>
		<% end %>
	</ul>
</div>
<% end %>

