
<%= @user.name %>,

Your RuffaloCODY EM Auto-Score System account is all setup and you are ready to access the system to begin scoring client inquiry files. Please click the link below to finalize your account and set your password.

Finalize Your Account: <%= edit_password_url(@user, :reset_password_token => @user.reset_password_token, :initial => true) %>

Please contact Brian Kasen (brian@austengroup.com) for any questions or assistance with the Auto-Score System.