<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<style type="text/css">
/*<![CDATA[*/
		.appleDevice a, .ii a, .ReadMsgBody a {color:#1D81C1; text-decoration:none;}
		.ReadMsgBody{width:100%;} .ExternalClass{width:100%;}
		#footer .appleDevice a, #footer .ii a, #footer .ReadMsgBody a {color:#0898bb; text-decoration:none;}
		/*]]>*/
		</style>
	</head>
	<body style="margin-left: 10%; margin-right:10%; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="90%">
			<tbody>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
						<p>
					 		<%= @user.name %>,
						</p>
					</td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
						<p>
							Your RuffaloCODY EM Auto-Score System account is all setup and you are ready to access the system to begin scoring client inquiry files. Please click the link below to finalize your account and set your password.
						</p>
					</td>
				</tr>

				<tr>
					<td><p></p></td>
				</tr>
				<tr>
				
					<td>
						<p align="center">
						<%= link_to 'Finalize Your Account',  edit_password_url(@user, :reset_password_token => @user.reset_password_token, :initial => true), :style => "background: #0898bb; color: #000000; display: inline-block; width: auto; text-align: center;text-decoration:none;border:10px solid #0898bb;" %>
						</p>
					</td>
	
				</tr>
				<tr>
					<td>
						<p></p>
						</td>
				</tr>
				<tr>
					<td>
						<p>
							Please contact Brian Kasen (<a href="mailto:brian@austengroup.com">brian@austengroup.com</a>) for any questions or assistance with the Auto-Score System.
						</p>
						</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
