<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active"><%= @autoscoring_project.name %></li>
</ul>
<div class="row-fluid">
	<div class="span10">
		<div class="text-center">
			<% if @autoscoring_project.is_em_configured? %>
				<h1><%= @autoscoring_project.name %> Auto-Scoring Project (EM Configured Project)</h1>
			<% else %>
				<h1><%= @autoscoring_project.name %> Auto-Scoring Project (Client Configured Project)</h1>
			<% end %>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10">
		<br/>
		<div class="btn-group-wrap-center">
			<div class="btn-group buttons">
				<% #link_to "View All Scoring Jobs", "#scoring-jobs-list", :class=> "btn btn-small" %>
				<%= link_to "Create New Scoring Job", new_autoscoring_project_scoring_job_path(:autoscoring_project_id => @autoscoring_project.id), :class=> "btn btn-primary " if @autoscoring_project.can_accept_new_scoring_job? %>
				<% #link_to "View Last Completed Scoring Job Summary", @autoscoring_project.current_autoscoring_project_scoring_job, :class=> "btn btn-success btn-small" if @autoscoring_project.current_autoscoring_project_scoring_job.completed? %>
				<% #link_to "Review Errors on Last Scoring Job Attempt", @autoscoring_project.current_autoscoring_project_scoring_job, :class=> "btn btn-danger btn-small" if @autoscoring_project.current_autoscoring_project_scoring_job.encountered_errors? %>
				<% #link_to "Process Current Scoring Job", @autoscoring_project.current_autoscoring_project_scoring_job, :class=> "btn btn-primary btn-small" if @autoscoring_project.current_autoscoring_project_scoring_job.not_started? %>
			</div>
		</div>
		<br/>
	</div>
</div>

<div class="row-fluid">
	<div class="span10">
		<h2>Project Configuration</h2>
	</div>
</div>
<div class="row-fluid">
	<div class="span5">
		<h3>Details</h3>
		<div class="well well-small">
			Below area the general Auto-Scoring Project details
		</div>
		<div class="project-information-block">
			<p><b>Institution: </b><%= @autoscoring_project.institution.display_name %></p>
			<p><b>Report Year: </b><%= @autoscoring_project.report_year.name %></p>
			<p><b>Project's Project Manager: </b><%= @autoscoring_project.project_manager.name %> (<%= @autoscoring_project.project_manager.email %>)</p>	
			<p><b>Optional Notes From Model Builder:</b><%= @autoscoring_project.notes %></p>
		</div>
		<br />
		<h3>Geo-Demographic Variables</h3>
		<div class="well well-small">
			Below are the Geo-Demographic Variables included in a Scoring Job's output file.
		</div>
		<div class="project-information-block">
			<ul>
			<% @autoscoring_project.autoscoring_project_geodemographic_variables.each do |geo_variable| %>
				<% if geo_variable.coefficient_value.present? %>
				<li><%= geo_variable.variable.name %> (<%= geo_variable.variable.abbreviation %>)</li>
				<% end %>
			<% end %>
			</ul>
		</div>
		<h3>Additional Variables</h3>
		<div class="well well-small">
			Below are Additional Variables considered when while running data through the model in a Scoring Job's output file. This information is derived through the system and will not be required in the Input File.
		</div>
		<div class="project-information-block">
			<ul>
			<% @autoscoring_project.autoscoring_project_other_variables.each do |other_variable| %>
				<% if !other_variable.variable.in_client_input_file %>
				<li><%= other_variable.variable.name %></li>
				<% end %>
			<% end %>
			</ul>
		</div>
	</div>
	<div class="span5">
		<% if @autoscoring_project.is_em_configured? %>
		<h3>Enrollment Manager Configured Input File - Header Row Details</h3>
		<% else %>
		<h3>Client Format Configured Input File - Header Row Details</h3>
		<% end %>
		<div class="well well-small">
			Below are the Input File Header specifications that each input file to be scored must contain. These columns are based on which variables are used to score records.
		</div>
		<div class="project-information-block">
			<% if @autoscoring_project.is_em_configured? %>
			<p><b>EM PersonID Column Name (Required): </b><%= @autoscoring_project.em_person_id_column_name %></p>
			<p><b>EM OpportunityID Column Name (Required): </b><%= @autoscoring_project.em_opportunity_id_column_name %></p>
			<% else %>
				<p><b>Client Opportunity ID Column Name (Required): </b><%= @autoscoring_project.client_opportunity_id_column_name %></p>
			<% end %>
			<p><b>Postal Code Column Name (Required): </b><%= @autoscoring_project.postal_code_column_name %></p>	
			<p><b>State Abbreviation Column Name (Required): </b><%= @autoscoring_project.state_column_name %></p>	
			<% if @autoscoring_project.split_output_by_column_name? %>
			<p><b>Split Output By Column Name (Required): </b><%= @autoscoring_project.split_output_by_column_name %></p>
			<% end %>
			<p><hr/></p>
			<h3>Other Variables</h3>
			<% @autoscoring_project.autoscoring_project_other_variables.each do |other_variable| %>
				<% if other_variable.variable.in_client_input_file %>
					<p class="tab">
						<h4><%= other_variable.variable.name %> Column</h4>
							<h5>Variable Details</h5>
								<ul>
									
									<% if other_variable.is_date? %>
									<li><b>Required Date Format:</b> <%= other_variable.date_format.name %></li>
									<% else %>
										<% if other_variable.has_uploaded_translations? %>
										<li><b>Accepts Both Description &amp; Code Values(Translation Table Loaded)</b></li>
										<% else %>
										<li><b>Accepts Only Description &amp; Values(No Translation Table Loaded)</b></li>
										<% end %>
									<% end %>
								</ul>
		
						<h5>Required Input File Column Name(s)</h5>
						<ul>
							<li><%= other_variable.name %></li>
							<% if other_variable.secondary_column_name? %>
								<li><%= other_variable.secondary_column_name %></li>
							<% end %>
							<% if other_variable.tertiary_column_name? %>
								<li><%= other_variable.tertiary_column_name %></li>
							<% end %>
						</ul>
					</p>
				<% end %>
				<p><hr/></p>
			<% end %>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10">
		<h3>Optional Column Filters</h3>
		<div class="well well-small">
			Records that meet the below criteria are included in the scored output for a Scoring Job. Records that do no meet the below criteria are filtered out during the scoring process and are absent from the scoring output for a Scoring Job.
		</div>	
		<table class="table table-hover">
			<thead>
			<tr>
				<th></th>
				<th>Column Name</th>
				<th>Filter Description</th>
				<th>Include Criteria For Scored Output</th>
			</tr>
			</thead>
			<tbody>
			<% if @autoscoring_project.autoscoring_project_filter_columns.any? %>
				<% @autoscoring_project.autoscoring_project_filter_columns.each_with_index do |filter_column, index| %>
				<tr>
					<td><%= index + 1 %>.</td>
					<td><%=filter_column.name %></td>
					<td><%= filter_column.description %></td>
					<td>
						<% filter_column.autoscoring_project_filter_values.each do |filter_value| %>
						"<%= filter_value.name %>" - <%= filter_value.description %><br />
						<% end %>
					</td>
				</tr>
				<% end %>
			<% else %>
				<tr class="info">
					<td colspan="4"><div class="text-center">No Additional Filtering Applied. System will score all records for a Job.</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="row-fluid">
	<div class="span10">
		<h3>Optional Column Conversions</h3>
		<div class="well well-small">
			Records that have the following Conversion Criteria's <strong><i>First Value</i></strong> are converted to <strong><i>Second Value</i></strong> before being scored during a Scoring Job.
		</div>	
		<table class="table table-hover">
			<thead>
			<tr>
				<th></th>
				<th>Column Name</th>
				<th>Conversion Description</th>
				<th>Conversion Criteria For Scored Output</th>
			</tr>
			</thead>
			<tbody>
			<% if @autoscoring_project.autoscoring_project_conversion_columns.any? %>
				<% @autoscoring_project.autoscoring_project_conversion_columns.each_with_index do |conversion_column, index| %>
				<tr>
					<td><%= index + 1 %>.</td>
					<td><%=conversion_column.name %></td>
					<td><%= conversion_column.description %></td>
					<td>
						<ul>
						<% conversion_column.autoscoring_project_conversion_values.each do |conversion_value| %>
							<li>
								Convert Values of "<strong><%= conversion_value.from_value %></strong>" to "<strong><%= conversion_value.to_value %></strong>"
								<ul>
									<li>Description - <%= conversion_value.description %></li>
								</ul>
							</li>
						<% end %>
						</ul>
					</td>
				</tr>
				<% end %>
			<% else %>
				<tr class="info">
					<td colspan="4"><div class="text-center">No Column Value Conversions Applied. System will not convert any records for a Job.</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="row-fluid">
	<div id="scoring-jobs-list" class="span10">
		<h2>Auto-Scoring Job(s) for <%= @autoscoring_project.name %></h2>
		<div class="well well-small">
			Below are the Scoring Jobs for this Auto-Scoring Project. Each row in the table is assigned a color based on the status that job. Red denotes an error or issue with that job. Click on Details to see more information on what prevented the job from completing correctly. Yellow denotes a Scoring Job that is currently being processed. Green denotes a successful Scoring Job.
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Job ID</th>
					<% if current_user.is_administrator? %>
					<th>Test</th>
					<% end %>
					<th>Created On</th>
					<th>User</th>
					<th>Total Rows</th>
					<th>Rows Processed</th>
					<th>Processing Time</th>
					<th># of Attempts</th>
					<th>Status</th>
					<th>Available Actions</th>
				</tr>
			</thead>
			<tbody>
				<% if @autoscoring_project_scoring_jobs.any? %>
					<%  @autoscoring_project_scoring_jobs.each_with_index do |scoring_job, index| %>

						<tr class="<%= scoring_job.status_class %>">
							<td><%= scoring_job.id %></td>
							<% if current_user.is_administrator? %>
							<td><%= scoring_job.is_test_scoring? ? "Yes" : "No" %>
							<% end %>
							<td><%= scoring_job.created_at.strftime("%m/%d/%y %I:%M %p %Z") %></td>
							<td><%= scoring_job.user ? scoring_job.user.name : "Unknown" %></td>
							<td><%= scoring_job.autoscoring_project_job_status_id == 3 ? scoring_job.row_count : "Unknown"%></td>
							<td><%= scoring_job.rows_processed %></td>
							<td><%= scoring_job.autoscoring_project_job_status_id == 3 ? scoring_job.processing_time_exact : "N/A" %></td>
							<td><%= scoring_job.number_of_attempts %></td>
							<td><%= scoring_job.autoscoring_project_job_status.name %></td>
							<td>
								<%= link_to ' <i class="icon-info-sign""></i> More Info '.html_safe, scoring_job, :class=> "btn btn-success btn-block" if scoring_job.completed? || scoring_job.in_progress? %>
								<%= link_to ' <i class="icon-warning-sign"></i> Review Errors'.html_safe, scoring_job, :class=> "btn btn-danger btn-block" if scoring_job.encountered_errors? %>
							</td>
						</tr>

					<% end %>
			<% else %>
				<tr class="info">
					<td colspan="10"><div class="text-center">No Scoring Jobs associated to this project.</div></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>	
</div>