<ol class="fields filter-value well">

	
			<%= f.input :name, :label => true %>
		  	<%= f.input :description, :label => true, :input_html => { :class => 'small-text-area', :rows => 3, :cols => 100, :placeholder => "(Optional) Describe nature of this Filter Value" } %>
			<%= f.input :id, :as => :hidden %>


	<li><%= f.link_to_remove 'Remove Filter Value', :confirm => 'Are you sure?' %></li>
</ol>
