<ol class="fields conversion-column">
	<li><%= f.input :id, :as => :hidden %><%= f.input :name, :label => "Conversion Column Name" %></li>

  	<li><%= f.input :description, :label => true, :input_html => { :class => 'small-text-area', :rows => 5, :cols => 100, :placeholder => "(Optional) Describe nature of this Conversion Column" } %></li>
	<li><%= f.link_to_remove 'Remove Conversion Column', :confirm => 'Are you sure?' %></li>
	<li><label>Conversion Values</label></li>
	<li><%= f.fields_for :autoscoring_project_conversion_values %>	</li>
	<li><p><%= f.link_to_add "Add Conversion Mapping For Column", :autoscoring_project_conversion_values, :data => { :target => "#autoscoring_project_conversion_values" } %>
	  </p>
	</li>

</ol>

