<ol class="fields filter-column">
	<li><%= f.input :id, :as => :hidden %><%= f.input :name, :label => "Filter Column Name" %></li>

  	<li><%= f.input :description, :label => true, :input_html => { :class => 'small-text-area', :rows => 5, :cols => 100, :placeholder => "(Optional) Describe nature of this Filtered Column" } %></li>
	<li><%= f.input :filter_to_include_these_values_radio, :as => :radio, :label => "Desired Filter Method", :collection => ["Include These Values", "Exclude These Values"]  %></li>
	<li><%= f.link_to_remove 'Remove Filter Column', :confirm => 'Are you sure?' %></li>
	<li><label>Filter Values</label></li>
	<li><%= f.fields_for :autoscoring_project_filter_values %>	</li>
	<li><p><%= f.link_to_add "Add Filter Value For Column", :autoscoring_project_filter_values, :data => { :target => "#autoscoring_project_filter_values" } %>
	  </p>
	</li>

</ol>

