<tr class="fields">
	<td><%= f.input :id, :as => :hidden %><%= f.input :variable_id, :as => :hidden %><%= f.input :variable, :label => false, :input_html => { :disabled => true } %></td>
	<td>Coefficient Value:</td>
  	<td><%= f.input :coefficient_value, :label => false %></td>
	<td>Wald Score:</td>
	<td><%= f.input :wald_score, :label => false %></td>
	<td> <%= f.input :include_in_output %></td>
</tr>

