<tr class="fields">
	<td><%= f.input :id, :as => :hidden %><%= f.input :variable, :label => false, :as => :select, :collection => Variable.where('variable_type_id != 1') %></td>
	<td>Coefficient Value:</td>
  	<td><%= f.input :coefficient_value, :label => false %></td>
	<td>Wald Score:</td>
	<td><%= f.input :wald_score, :label => false %></td>
	<td>Date Format:</td>
	<td><%= f.input :date_format, :label => false, :prompt => "Not Applicable" %></td>
  	<td><%= f.input :name, :label => "Primary Column Name" %></td>
	<td><%= f.input :secondary_column_name%></td>
	<td><%= f.input :tertiary_column_name %></td>
	<td><%= f.link_to_remove 'Remove', :confirm => 'Are you sure?' %></td>
</tr>

