<ol class="fields conversion-value well">
	<li>
		<p>
			<%= f.input :id, :as => :hidden %>
			<%= f.input :from_value %>
			<%= f.input :to_value %>
		  	<%= f.input :description, :label => true, :input_html => { :class => 'small-text-area', :rows => 3, :cols => 100, :placeholder => "(Optional) Describe nature of this Conversion Mapping" } %>
		</p>
	</li>
	<li><%= f.link_to_remove 'Remove Conversion Mapping', :confirm => 'Are you sure?' %></li>
</ol>
