<%= semantic_nested_form_for [:admin, @autoscoring_project] do |f| %>
	<%= f.inputs "Attributes" do %>
    	<%=   	f.input :institution_display_name, :label => "Institution", input_html:{data: {autocomplete_source: institutions_path} } %>
    	<%=   	f.input :name %>
		<%= 	f.input :active %>
		<%= 	f.input :autoscoring_project_status %>
    	<%=   	f.input :report_year %>
    	<%=   	f.input :geodemographic_year,:as => :select, :collection => Year.where('has_geodemographic_data = ?', true).order("name ASC") %>
		<%= 	f.input :is_em_configured, :class => "em-configured-flag", :label => "Is Enrollment Manager Configured Project" %>
		<%= 	f.input :client_opportunity_id_column_name %>
		<%= 	f.input :em_person_id_column_name %>
		<%= 	f.input :em_opportunity_id_column_name %>
		<%= 	f.input :default_yield_rate %>
		<%= 	f.input :model_y_intercept %>
		<%= 	f.input :postal_code_column_name %>
		<%= 	f.input :state_column_name %>
		<%= 	f.input :split_output_by_column_name %>
		<%=   	f.input :admin_user, :as => :select, :collection => AdminUser.order("email ASC"), :prompt => "Select an Admin User to Receive Scoring Detailed Report" %>
		<%= 	f.input :project_manager, :as => :select, :collection => ProjectManager.order("first_name ASC"), :prompt => "Select a Project Manager" %>
		<%= 	f.input :market_designation_level, :prompt => "Select a Market Designation Level" %>
    	
	<% end %>
	<%=f.inputs "Notes" do %>
		<%= 	f.input :notes %>
	<% end %>
	
	<%= f.inputs "Optional Filter Columns" do %>	
		
	  	<%= f.fields_for :autoscoring_project_filter_columns, :wrapper => false  %>
		<li><%= f.link_to_add "Add Column to Filter", :autoscoring_project_filter_columns, :data => { :target => "#autoscoring_project_filter_columns" } %>
		  </li>
	<% end %>
	
	<%= f.inputs "Optional Column Conversions" do %>	
		
	  	<%= f.fields_for :autoscoring_project_conversion_columns, :wrapper => false  %>
		<li><%= f.link_to_add "Add Conversion Column Settings", :autoscoring_project_conversion_columns, :data => { :target => "#autoscoring_project_conversion_columns" } %>
		  </li>
	<% end %>
	
	<%= f.inputs "Geodemographic Variables" do %>	
		<table id="autoscoring_project_geodemographic_variables">
	  	<%= f.fields_for :autoscoring_project_geodemographic_variables %>
		</table>
 

	<% end %>
	
	<%= f.inputs "Other Independent Variables" do %>	
		<table id="autoscoring_project_other_variables">
	  		<%= f.fields_for :autoscoring_project_other_variables, :wrapper => false %>

		</table>
		<p><%= f.link_to_add "Add Independent Variable", :autoscoring_project_other_variables, :data => { :target => "#autoscoring_project_other_variables" } %>
		  </p>
	<% end %>
	



   <%= f.actions %>
<% end %>
