<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<style type="text/css">
/*<![CDATA[*/
		.appleDevice a, .ii a, .ReadMsgBody a {color:#1D81C1; text-decoration:none;}
		.ReadMsgBody{width:100%;} .ExternalClass{width:100%;}
		#footer .appleDevice a, #footer .ii a, #footer .ReadMsgBody a {color:#0898bb; text-decoration:none;}
		/*]]>*/
		</style>
	</head>
	<body style="margin-left: 10%; margin-right:10%; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="90%">
			<tbody>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
						<p>
					 		<%= @admin_user.name %>,
						</p>
					</td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
						<p>
							The file import <%= @file_import.name %> did not complete successfully.
						</p>
						<p>
							<b>Error Details</b>: <%= @file_import.error_details %>
						</p>
						<p>
							<b>Last updated at</b> <%= @file_import.updated_at.strftime("%m/%d/%y %I:%M %p %Z") %>
						</p>
					</td>
				</tr>

				<tr>
					<td><p></p></td>
				</tr>
				<tr>
				
					<td>
						<p align="center" bgcolor="#89CEE8" valign="middle" style="background: #0898bb; color: #ffffff; font: normal 14px 'Arial Rounded MT Bold', 'Helvetica Neue', 'Droid Sans', Arial, Helvetica, sans-serif; -webkit-text-size-adjust: none; padding: 10px;">
						<%= link_to 'View Completed File Import', admin_file_import_url(@file_import), :style => "color: #ffffff; text-decoration: none;" %>
						</p>
					</td>
	
				</tr>
				<tr>
					<td>
						<p></p>
						</td>
				</tr>
				<tr>
					<td>
						<p>
							Please contact Brian Kasen (<a href="mailto:brian@austengroup.com">brian@austengroup.com</a>) for any questions or assistance with the Auto-Score System.
						</p>
						</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
