

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-signin" }) do |f| %>
  <%= devise_error_messages! %>
	<h2><%= "true"==params[:initial] ? "Set your password" : "Reset your password" %></h2>
  	<%= f.hidden_field :reset_password_token %>

	<div class="control-group">
	  
		<div class="controls">
			<%= f.label :password %>
			<%= f.password_field :password, :placeholder => "New Password", :autofocus => true, :autocomplete => "off" %>
			<p>Note: Must be at least 8 characters long.</p>
		</div>
		<p></p>
	
	
	  <div class="controls">
		<%= f.label :confirm_password %>
	    <%= f.password_field :confirm_password, :placeholder => "Confirm New Password",  :autocomplete => "off" %>
	  </div>
		<div class = "controls">
			<button type="submit" class="btn">Save My New Password</button> 
		</div>
	</div>
<% end %>
