<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-signin"}) do |f| %>
  <%= devise_error_messages! %>
	<h2 class="form-signin-heading">Forgot Your Password?</h2>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Email</label>
			<div class="controls">
				<%= f.email_field :email, :placeholder => "Email", :autofocus => true %>
			</div>


			<div>
				<button type="submit" class="btn">Send me reset password instructions</button> 
			</div>
		</div>
<% end %>
