
<%= @autoscoring_project_scoring_job.user.name %>,

The recent Scoring Job you initiated for for the Auto-Scoring Client Project (<%= @autoscoring_project_scoring_job.autoscoring_project.name %>) did not complete successfully.

						Below are some brief details on the Scoring Job. Please click the button below to view details on why the Scoring attempt failed and  you will find the links to upload a revised data file to try again.
Error Details
<%= raw RedCloth.new(@autoscoring_project_scoring_job_log.error_details).to_html if @autoscoring_project_scoring_job_log.error_details.present? %>

Link to Make Corrections: <%= autoscoring_project_scoring_job_url(@autoscoring_project_scoring_job) %>

Please contact Brian Kasen (brian@austengroup.com) for any questions or assistance with the Auto-Score System.
				