
<%= @user.name %>,

There is a new completed Scoring Job for <%= @autoscoring_project_scoring_job.autoscoring_project.institution.display_name %> available for their Auto-Scoring Project - <%= @autoscoring_project_scoring_job.autoscoring_project.name_with_configuration %>. Below are some brief details on the completed Scoring Job. Please click the button below to view the complete Scoring Job Summary &amp; where you can see the full details and find the links to download the scored output file(s).
						
						<% if @autoscoring_project_scoring_job.autoscoring_project.is_em_configured %>
Auto-Scoring Project Configuration Setup: EM - Configured Project

						<% else %>
Auto-Scoring Project Configuration Setup:Client - Configured Project
						<% end %>
						
						<% if @autoscoring_project_scoring_job_log.row_inclusion_percentage < 25 %>
							This Scoring's Row Inclusion Percentage is below 25% which may indicate a possible issue with the file. Please be aware that the output file's record count for this Scoring Job is very low!
						<% end %>
Last updated at <%= @autoscoring_project_scoring_job.updated_at.strftime("%m/%d/%y %I:%M %p %Z") %>
						
						
Scoring Job Creator: <%= @autoscoring_project_scoring_job.user.name %> (<%= @autoscoring_project_scoring_job.user.email %>)
						
Project's Project Manager: <%= @autoscoring_project_scoring_job.autoscoring_project.project_manager.name %> (<%= @autoscoring_project_scoring_job.autoscoring_project.project_manager.email %>) has been notified of the completed scoring.
						
Output File Information 
							<% if @autoscoring_project_scoring_job.has_multiple_output_files? %>
	This Scoring Job contains multiple CSV output files available to download because it records were split prior to scoring by their value in the column <%= @autoscoring_project_scoring_job.split_output_by_column_name %>.
							<% else %>
	This Scoring Job has only one CSV output file.
							<% end %>
						
Filter Criteria Configured: <%= raw RedCloth.new(@autoscoring_project_scoring_job_log.filter_criteria).to_html %>

Conversion Criteria Configured: <%= raw RedCloth.new(@autoscoring_project_scoring_job_log.conversion_criteria).to_html %>
					
View Completed Scoring Job Summary: <%= autoscoring_project_scoring_job_url(@autoscoring_project_scoring_job) %>
						
Please contact Brian Kasen (brian@austengroup.com) for any questions or assistance with the Auto-Score System.
