<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<style type="text/css">
/*<![CDATA[*/
		.appleDevice a, .ii a, .ReadMsgBody a {color:#1D81C1; text-decoration:none;}
		.ReadMsgBody{width:100%;} .ExternalClass{width:100%;}
		#footer .appleDevice a, #footer .ii a, #footer .ReadMsgBody a {color:#0898bb; text-decoration:none;}
		/*]]>*/
		</style>
	</head>
	<body style="margin-left: 10%; margin-right:10%; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="90%">
			<tbody>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
						<p>
					 		<%= @autoscoring_project_scoring_job.user.name %>,
						</p>
					</td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
						<p style="color:#da4f49;">The recent Scoring Job you initiated for for the Auto-Scoring Client Project (<%= @autoscoring_project_scoring_job.autoscoring_project.name %>) did not complete successfully.
						</p>
						<p>Below are some brief details on the Scoring Job. Please click the button below to view details on why the Scoring attempt failed and  you will find the links to upload a revised data file to try again.
						</p>
					</td>
				</tr>
 
				<tr>
					<td>
						<p style="color:#da4f49;">Error Details</p>
						<p><%= raw RedCloth.new(@autoscoring_project_scoring_job_log.error_details).to_html if @autoscoring_project_scoring_job_log.error_details.present? %></p>
						 
					</td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
				
					<td>
						<p align="center">
						<%= link_to 'View Scoring Job Attempt Details to Make Corrections', autoscoring_project_scoring_job_url(@autoscoring_project_scoring_job), :target => "_blank", :style => "background: #da4f49; color: #000000; display: inline-block; width: auto; text-align: center;text-decoration:none;border:10px solid #da4f49;" %>
						</p>
					</td>
	
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
						<p>
							Please contact Brian Kasen (<a href="mailto:brian@austengroup.com">brian@austengroup.com</a>) for any questions or assistance with the Auto-Score System.
						</p>
						</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
