
<%= @user.name %>,

There is a new completed Scoring Job for <%= @autoscoring_project_scoring_job.autoscoring_project.institution.display_name %> available for their Auto-Scoring Project - <%= @autoscoring_project_scoring_job.autoscoring_project.name_with_configuration %>. Below are some brief details on the completed Scoring Job. Please click the button below to view the complete Scoring Job Summary &amp; where you can see the full details and find the links to download the scored output file(s).

Last updated at: <%= @autoscoring_project_scoring_job.updated_at.strftime("%m/%d/%y %I:%M %p %Z") %>

Scoring Job Creator:<%= @autoscoring_project_scoring_job.user.name %> (<%= @autoscoring_project_scoring_job.user.email %>)

Output File Information
							<% if @autoscoring_project_scoring_job.has_multiple_output_files? %>
	This Scoring Job contains multiple CSV output files available to download because it records were split prior to scoring by their value in the column <%= @autoscoring_project_scoring_job.split_output_by_column_name %>.
							<% else %>
	This Scoring Job has only one CSV output file.
							<% end %>
					
Please contact <%= "#{@autoscoring_project_scoring_job.user.name}(#{@autoscoring_project_scoring_job.user.email}) for any questions or assistance regarding this new scoring job he/she recently initiated." %>
				