<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<style type="text/css">
/*<![CDATA[*/
		.appleDevice a, .ii a, .ReadMsgBody a {color:#1D81C1; text-decoration:none;}
		.ReadMsgBody{width:100%;} .ExternalClass{width:100%;}
		#footer .appleDevice a, #footer .ii a, #footer .ReadMsgBody a {color:#0898bb; text-decoration:none;}
		/*]]>*/
		</style>
	</head>
	<body style="margin-left: 10%; margin-right:10%; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="90%">
			<tbody>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
						<p>
					 		<%= @user.name %>,
						</p>
					</td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
						<p>
							There is a new completed Scoring Job for <%= @autoscoring_project_scoring_job.autoscoring_project.institution.display_name %> available for their Auto-Scoring Project - <%= @autoscoring_project_scoring_job.autoscoring_project.name_with_configuration %>. Below are some brief details on the completed Scoring Job. Please click the button below to view the complete Scoring Job Summary &amp; where you can see the full details and find the links to download the scored output file(s).
						</p>
						<p>
							<b>Last updated at:</b> <%= @autoscoring_project_scoring_job.updated_at.strftime("%m/%d/%y %I:%M %p %Z") %>
						</p>
						<p>
							<b>Scoring Job Creator:</b> <%= @autoscoring_project_scoring_job.user.name %> (<%= @autoscoring_project_scoring_job.user.email %>)
						</p>
						<p>
							<b>Output File Information</b> 
							<% if @autoscoring_project_scoring_job.has_multiple_output_files? %>
							This Scoring Job contains <strong>multiple</strong> CSV output files available to download because it records were split prior to scoring by their value in the column <%= @autoscoring_project_scoring_job.split_output_by_column_name %>.
							<% else %>
								This Scoring Job has only one CSV output file.
							<% end %>
						</p>
					</td>
				</tr>

				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
						<p></p>
						</td>
				</tr>
				<tr>
					<td>
						<p>
							Please contact <%= "#{@autoscoring_project_scoring_job.user.name}(#{@autoscoring_project_scoring_job.user.email}) for any questions or assistance regarding this new scoring job he/she recently initiated." %>
						</p>
						</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
