<div class="row-fluid">
	<div class="span10">
		<h1 class="text-center">RuffaloCODY Inquiry to Enroll Auto-Scoring System</h1>
	</div>
</div>
<hr />
<br />

<div class="row-fluid">
	<div class="span10">
	    <h2 class="text-center">Your Most Recent Scoring Jobs For Available Auto-Scoring Projects</h3>
	</div>
	<div class="span10">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>Scoring Job ID</th>
				<th>Status</th>
				<th># of Completed Scoring Jobs</th>
				<th>Rows Processed</th>
				<th>Updated At</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<% if @current_users_available_recent_scoring_jobs.nil? %>
			<tr>
				<td colspan="5"><div class="text-center">No Past Scoring Jobs for Available Auto-Scoring Projects Created by You</div></td>
			</tr>
			<% else %>
				<% @current_users_available_recent_scoring_jobs.each do |autoscoring_project_scoring_job| %>
					<tr>
						<td><%= autoscoring_project_scoring_job.id %></td>
						<td><%= autoscoring_project_scoring_job.autoscoring_project_job_status.name %></td>
						<td><%= autoscoring_project_scoring_job.autoscoring_project.name_with_configuration %></td>
						<td><%= autoscoring_project_scoring_job.rows_processed %></td>
						<td><%= autoscoring_project_scoring_job.updated_at.strftime("%m/%d/%y %I:%M %p %Z") %></td>
						<td><%= link_to ' <i class="icon-info-sign""></i> Summary Details '.html_safe, autoscoring_project_scoring_job_path(autoscoring_project_scoring_job.id), :class=> "btn btn-success " %></td>
					</tr>
					
				<% end %>			
			<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="row-fluid">
	<div class="span10">
	    <h2 class="text-center">Available Auto-Scoring Projects</h3>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 tabbable">
		<ul class="nav nav-pills">
		  <li class="active">
		    <a href="#em-configured-projects" data-toggle="tab">Enrollment Manager Configured Projects</a>
		  </li>
		  <li><a href="#client-configured-projects" data-toggle="tab">Client Configured Projects</a></li>
		</ul>
	</div>
</div>

<div class="row-fluid">
	<div class="tab-content">
		<div id="em-configured-projects" class="tab-pane active">
			<div class="row-fluid">
				<div class="span10">
					<h3 class="text-center">Enrollment Manager Format Configured Auto-Scoring Projects</h3>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span10">
					<table class="table table-hover">
						<thead>
						<tr>
							<th>Institution</th>
							<th>Institution's Current Model Project</th>
							<th># of Completed Scoring Jobs</th>
							<th></th>
							<th></th>
						</tr>
						</thead>
						<tbody>
							<% if @available_em_configured_autoscoring_projects.nil? %>
								<tr>
									<td colspan="5"><div class="text-center">No EM Configured Auto-Scoring Projects Available</div></td>
								</tr>
							<% else %>
								<% @available_em_configured_autoscoring_projects.each do |available_em_autoscoring_project| %>
									<tr>
										<td><%= available_em_autoscoring_project.institution.name %></td>
										<td><%= available_em_autoscoring_project.name %>
										<td><%= available_em_autoscoring_project.public_autoscoring_project_scoring_job_count.to_s %></td>
										<td><%= link_to "Create New Scoring Job", new_autoscoring_project_scoring_job_path(:autoscoring_project_id => available_em_autoscoring_project.id), :class=> "btn btn-primary " if available_em_autoscoring_project.can_accept_new_scoring_job? %></td>
										<td><%= link_to ' <i class="icon-info-sign""></i> Details '.html_safe, available_em_autoscoring_project, :class=> "btn btn-success btn-block" %></td>
									</tr>
								<% end %>
						<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="client-configured-projects"  class="tab-pane">
			<div class="row-fluid">
				<div class="span10">
					<h3 class="text-center">Client Format Configured Auto-Scoring Projects</h3>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span10">
					<table class="table table-hover">
						<thead>
						<tr>
							<th>Institution</th>
							<th>Institution's Current Model Project</th>
							<th># of Completed Scoring Jobs</th>
							<th></th>
							<th></th>
						</tr>
						</thead>
						<tbody>
							<% if @available_client_configured_autoscoring_projects.nil? %>
								<tr>
									<td colspan="5"><div class="text-center">No Client Configured Auto-Scoring Projects Available</div></td>
								</tr>
							<% else %>
								<% @available_client_configured_autoscoring_projects.each do |available_client_autoscoring_project| %>
									<tr>
										<td><%= available_client_autoscoring_project.institution.name %><%= " - (Only Available to Admin Users)" if !available_client_autoscoring_project.is_public? %></td>
										<td><%= available_client_autoscoring_project.name %>
										<td><%= available_client_autoscoring_project.public_autoscoring_project_scoring_job_count.to_s %></td>
										<td><%= link_to "Create New Scoring Job", new_autoscoring_project_scoring_job_path(:autoscoring_project_id => available_client_autoscoring_project.id), :class=> "btn btn-primary " if available_client_autoscoring_project.can_accept_new_scoring_job? %></td>
										<td><%= link_to ' <i class="icon-info-sign""></i> Details '.html_safe, available_client_autoscoring_project, :class=> "btn btn-success btn-block" %></td>
									</tr>
								<% end %>
						<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>