<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-signin"}) do |f| %>
<h2 class="form-signin-heading">Please Sign In</h2>
	<div class="control-group">
	  <label class="control-label" for="inputEmail">Email</label>
	  <div class="controls">
	   <%= f.email_field :email, :placeholder => "Email", :autofocus => true %>
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="inputPassword">Password</label>
	  <div class="controls">
	    <%= f.password_field :password, :placeholder => "Password"%>
	  </div>
	<% if devise_mapping.rememberable? -%>
		<label class="checkbox"><%= f.check_box :remember_me %> Remember Me</label>
	<% end -%>
	<div>
		<button type="submit" class="btn">Sign in</button> 
	</div>
	<br/>
	<div>
		<%= link_to "Forgot your password?", new_password_path(resource_name),  :class=>"btn" %>
	</div>
	</div>
<% end %>

