<h1><%= link_to @autoscoring_project_other_variable.autoscoring_project.name, admin_autoscoring_project_path(@autoscoring_project_other_variable.autoscoring_project)%> </h1>
<h1><%= @autoscoring_project_other_variable.variable.name %> Variable Counts Import</h1>

<p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are required.</p>

<ul>
    <li>
      <strong>Description</strong> - String Type
    </li>
    <li>
      <strong>Enrolled</strong> - Integer type
    </li>
    <li>
     <strong>Total</strong> - Integer type
    </li>
</ul>

<%= semantic_form_for [:admin, @autoscoring_project_other_variable_count_import] do |f| %>
	<% #f.semantic_errors :autoscoring_project_other_variable_translation_import %>
	<% if @autoscoring_project_other_variable_count_import.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@autoscoring_project_other_variable_count_import.errors.count, "error") %> prohibited this import from completing:</h2>
    <ul>
    <% @autoscoring_project_other_variable_count_import.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
	<%= f.inputs "File" do %>
   		<%= f.input :file, :as => :file, :label => true %>
		<% if @autoscoring_project_other_variable.has_uploaded_counts? %>
			<%= f.input :delete_existing_records, :as => :boolean, :label => "Delete Existing Records" %>
		<% else %>
			<%= f.input :delete_existing_records, :as => :hidden, :value => false , :label => false %>
		<% end %>
		<%= f.input :autoscoring_project_other_variable_id, :as => :hidden, :value =>  @autoscoring_project_other_variable.id %>
	<% end %>
	<%= f.actions do %>
  		<%= f.action :submit,  :label => "Import" %>
	<% end %>
<% end %>

<hr />

<% if @autoscoring_project_other_variable.has_uploaded_counts? %>
<h1><%= @autoscoring_project_other_variable.variable.name %> Variable Current Counts (n= <%= @autoscoring_project_other_variable_counts.count %>)</h1>
<div>
	<ul>
		<% @autoscoring_project_other_variable_counts.each do |count| %>
			<li><strong><%= count.name %></strong> (<%= count.enrolled %> / <%= count.total.to_s %>) - <%= number_to_percentage(count.yield_as_percentage, :precision => 6) %></li>
		<% end %>
	</ul>
</div>
<% else %>
<h1>No Variable Current Counts (n= 0)</h1>
<% end %>

