// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

.handle {
  font-size: 12px;
  cursor: move;
  color: #777;
}

body.active_admin #header ul#tabs > li.has_nested > a {
  padding-right: 25px;
}

body.active_admin .tabs ul {
list-style: none;
}

body.active_admin .status_tag.open, body.active_admin .status_tag.available, body.active_admin .status_tag.processed , body.active_admin .status_tag.completed, body.active_admin .status_tag.yes, body.active_admin .status_tag.active,  body.active_admin .status_tag.present {
  background: #8daa92;
}

body.active_admin .status_tag.in_progress {
  background: #e29b20; 
}

body.active_admin .status_tag.closed, body.active_admin .status_tag.unavailable, body.active_admin .status_tag.unprocessed, body.active_admin .status_tag.not_started, body.active_admin .status_tag.no, body.active_admin .status_tag.inactive,  body.active_admin .status_tag.missing {
  background: #d45f53;
}

body.active_admin  ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

 body.active_admin tr.fields td {
	padding-bottom: 25px;
}

body.active_admin .inline-errors {
	color: #d45f53;
}

body.active_admin textarea.small-text-area {
	width:auto;
}

body.active_admin .filter-column {
margin-left:50px;
}

body.active_admin .filter-value {
margin-left:100px;
}

body.active_admin .conversion-column {
margin-left:50px;
}

body.active_admin .conversion-value {
margin-left:100px;
}

body.active_admin .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #EDEDED;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}