/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require bootstrap-wysihtml5
 *= require formtastic-bootstrap
 *= require file_import
 *= require autoscoring_project
 *= require autoscoring_project_scoring_job
 */

.text-center {
	text-align: center;
}
.tab {
	margin-left: 8px;
}