.buttons {
	margin-top: 10px;
	# float:right;
}

.btn-group-wrap-center {
    text-align: center;
}

div.btn-group {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}


.project-information-block {

	margin-left: 20px;
	margin-bottom: 10px;

}