<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<style type="text/css">
/*<![CDATA[*/
		.appleDevice a, .ii a, .ReadMsgBody a {color:#1D81C1; text-decoration:none;}
		.ReadMsgBody{width:100%;} .ExternalClass{width:100%;}
		#footer .appleDevice a, #footer .ii a, #footer .ReadMsgBody a {color:#0898bb; text-decoration:none;}
		/*]]>*/
		</style>
	</head>
	<body style="margin-left: 10%; margin-right:10%; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="90%">
			<tbody>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
						<p>
					 		<%= @resource.email %>,
						</p>
					</td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>
					<p>Your RuffaloCODY EM Auto-Score System account's password change request has been issued. To reset your password, you can do this through the link below.</p>
					</td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td><p>Your password won't change until you access the link above and create a new one.</p></td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>

					<td>
						<p align="center" bgcolor="#89CEE8" valign="middle" style="background: #0898bb; color: #ffffff; font: normal 14px 'Arial Rounded MT Bold', 'Helvetica Neue', 'Droid Sans', Arial, Helvetica, sans-serif; -webkit-text-size-adjust: none; padding: 10px;">
					<%= link_to 'Change My Password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), :style => "color: #ffffff; text-decoration: none;" %>
						</p>
					</td>

				</tr>
				<tr>
					<td>
						<p></p>
						</td>
				</tr>
				<tr>
					<td>
						<p>
							Please contact Brian Kasen (<a href="mailto:brian@austengroup.com">brian@austengroup.com</a>) for any questions or assistance with the Auto-Score System.
						</p>
						</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
