<div class="row-fluid">
	<div class="span10">
		<%= semantic_form_for(@autoscoring_project_scoring_job) do |f| %>
		<%= f.semantic_errors %>	
		<%= f.inputs do %>	
			<div class="well well-small">
				The Auto-Score System requires that the file to be scored represents an entire cohort(s) of students. The reason we need the entire inquiry pool is because the A-J ranks &amp; percentile scores are relative measures meaning it's value is relative to the group of records processed. These A-J ranks &amp; percentile scores should always be interpreted within the context of the entire inquiry pool. Any records scored outside the context of the entire inquiry pool results in skewed, inaccurate scoring results therefore we require you to include entire inquiry pool(s) in every scoring.
			</div>
			<br />
			<%= f.input :cohort_year, :prompt => "No Individual Cohort Year Specified", :label => false, :collection => Year.first(3) %>
		  	<%= f.semantic_fields_for :autoscoring_project_scoring_job_input_files do |f| %>
				<% if f.object.new_record? %>
				<br />
				<li>
					<%= f.input :file_name, :as => :file, :hint => "Note: System Only Accepts UTF-8 Encoded CSV Files.", :label => false %><%= f.input :file_import_type_id, :as => :hidden, :value => 2 %>
				</li>
				<% end %>
			<% end %>
			<br />
			<%= f.input :details, :placeholder => "Please provide details about this scoring job (Required)",  :label => false, :input_html => { :class => 'autogrow', :rows => 20, :columns => 50 }  %>
			
			<%= f.input :user_id, :as => :hidden, :value => @user.id %>
			<%= f.input :autoscoring_project_job_status_id, :as => :hidden, :value => 1 %>
			<% if current_user.is_administrator? then %>
				<%= f.input :is_test_scoring, :label => " Is Test Scoring (Only visible to Administrator Users & Not General Users)", :input_html => { :checked => true }  %>
				<%= f.input :is_public, :label => " Is Public", :input_html => { :checked => 0 }  %>
			<% else %>
				<%= f.input :is_test_scoring, :as => :hidden, :input_html => { :value => 0 }  %>
				<%= f.input :is_public, :as => :hidden, :input_html => { :value => 1 }  %>
			<% end %>
			<%= f.input :autoscoring_project_id, :as => :hidden, :value => @autoscoring_project.id %>

		<% end %>
		<br/>
		
		<button id="submit" type="submit" class="btn btn-large btn-block btn-primary" data-confirm="Does the selected file represent the client's entire inquiry pool(s) for the included entry term's cohort of students?" data-disable-with="Uploading, please wait...">
		  <i class="icon-refresh "></i> Upload To Queue
		</button>
		<% end %>
	</div>
</div>
