<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><%= link_to @autoscoring_project_scoring_job.autoscoring_project.name, @autoscoring_project_scoring_job.autoscoring_project  %><span class="divider">/</span></li>
  <li class="active">Update Current Scoring Job</li>
</ul>

<h1>Update Current Scoring Job's Input File</h1>

<%= render 'form' %>