<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><%= link_to @autoscoring_project.name, @autoscoring_project  %><span class="divider">/</span></li>
  <li class="active">New Scoring Job</li>
</ul>

<h1>Create a New Scoring Job for <%=  @autoscoring_project.name %></h1>

<%= render 'form' %>