<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><%= link_to @autoscoring_project_scoring_job.autoscoring_project.name, @autoscoring_project_scoring_job.autoscoring_project  %><span class="divider">/</span></li>
  <li class="active">Current Scoring Job</li>
</ul>

<div class="row-fluid">
	<div class="span8">
		<h2>Current Auto-Scoring Job's Summary for <%= @autoscoring_project_scoring_job.autoscoring_project.name %></h2>
	</div>
	<div class="span2">
	</div>
</div>

<div class="row-fluid">
	<div class="span10">
		<% if @autoscoring_project_scoring_job.not_started? %>
		<div class="alert alert-block alert-primary">
		  <h4><i class="icon-search icon-asterisk"></i> Scoring Job Scoring Job Process Has Not Started</h4>
		</div>
		<% elsif @autoscoring_project_scoring_job.in_queue? %>
		<div class="alert alert-block alert-info">
		  <h4><i class="icon-search icon-asterisk"></i> Scoring Job Successfully Placed In Queue. Waiting For Processing</h4>
		</div>
		<% elsif @autoscoring_project_scoring_job.in_progress? %>
			<div class="alert alert-block alert-warning">
			  <h4><i class="icon-search icon-exclamation-sign"></i> Currently Processing Scoring Job...</h4> 
			</div>
			
		<% elsif @autoscoring_project_scoring_job.completed? %>
		<div class="alert alert-block alert-success">
		  <h4><i class="icon-search icon-ok"></i> Scoring Job Processed &amp; Completed Successfully!</h4> 
		</div>
		<% elsif @autoscoring_project_scoring_job.encountered_errors? %>
			<div class="alert alert-block alert-error">
			  <h4><i class="icon-search icon-remove"></i> Error Occurred during Scoring Job Processing!</h4>
			  Please see the Error Details below to fix the input file and upload a revised version.
			</div>
		<% else%>
			none
		<% end %>

	</div>
</div>

<% if  @autoscoring_project_scoring_job.in_queue? || @autoscoring_project_scoring_job.in_progress? %>
<div class="row-fluid">
	<div class="span10">
		<p>Currently still processing this Scoring Job's file named "<% File.basename(@autoscoring_project_scoring_job.autoscoring_project_scoring_job_input_file.file_name.path) %>"
		</p>
		<p>Please check back later to see this Scoring Job is finished. When the Scoring Job has finished processing, we will send the Scoring Job's Summary email to <strong><%= @autoscoring_project_scoring_job.user.email %></strong>. </p>
		<p>If Scoring Job completes successfully, we will also send the Scoring Job's Summary email to <strong><%= @autoscoring_project_scoring_job.autoscoring_project.project_manager.email %></strong></p>
	</div>
</div>
<% end %>


<% if @autoscoring_project_scoring_job.encountered_errors? ||@autoscoring_project_scoring_job.completed? %>
<div class="row-fluid">
	<div class="span5">
		<h4>Current Auto-Scoring Job's Attempt #<%= @autoscoring_project_scoring_job.number_of_attempts_count %> Details</h4>
		<div class="scoring-job-details-block">
			<p><b>Scoring Job Creator: </b><%= @autoscoring_project_scoring_job.user.name %> (<%= @autoscoring_project_scoring_job.user.email %>)</p>
			<p><b>Input File Name: </b><%= File.basename(@autoscoring_project_scoring_job.autoscoring_project_scoring_job_input_file.file_name.path) %></p>
			<p><b>Scoring Job Creator Notes:</b> <%= @autoscoring_project_scoring_job.details %></p>
			<% if @autoscoring_project_scoring_job_log %>
			<p><b>Input File Row Count:</b> <%= @autoscoring_project_scoring_job_log.row_count %></p>
			<p><b>Rows Filtered Out:</b> <%=  @autoscoring_project_scoring_job_log.rows_filtered_out %></p>
			<p><b>Inclusion Rate (Scored Rows / Input File Row Count):</b> 
			<% if !@autoscoring_project_scoring_job_log.row_count.blank? %> 
				<%= number_to_percentage( @autoscoring_project_scoring_job_log.row_inclusion_percentage, :precision => 2) %> of the records are included in completed output file based on the Auto-Scoring Project's Filter Criteria</p>
			<% else %>
			File row count is 0 or N/A so inclusion rate cannot be calculated.
			<% end %>
			<p><b>Input File Column Count:</b> <%=  @autoscoring_project_scoring_job_log.column_count %></p>
				<p><b>Processing Time:</b> <%=  @autoscoring_project_scoring_job.processing_time_approximate %> /  <%=  @autoscoring_project_scoring_job.processing_time_exact %></p>
			<% end %>
		</div>
	</div>
	<div class="span5">
		<div class="scoring-job-details-block">
			<% if @autoscoring_project_scoring_job_log %>
			<h4>Processing Details From Last Scoring Job</h4>
			<p><b>Filter Criteria Configured:</b> <%= raw RedCloth.new(@autoscoring_project_scoring_job_log.filter_criteria).to_html if @autoscoring_project_scoring_job_log.filter_criteria.present?%></p>
			<p><b>Conversion Criteria Configured:</b> <%= raw RedCloth.new(@autoscoring_project_scoring_job_log.conversion_criteria).to_html if @autoscoring_project_scoring_job_log.conversion_criteria.present? %></p>
			<p><b>Date Last Processed:</b> <%=  @autoscoring_project_scoring_job_log.created_at.strftime("%m/%d/%y %I:%M %p %Z") %></p>
			<p><b>Split Output By Column Configured:</b> <%= @autoscoring_project_scoring_job_log.split_output_by_column_name %></p>
			<% if @autoscoring_project_scoring_job.encountered_errors? %>
			<h4  class="text-error"><i class="icon-search icon-remove"></i> Error Details From Last Scoring Job</h4>
			<%= raw RedCloth.new(@autoscoring_project_scoring_job_log.error_details).to_html if @autoscoring_project_scoring_job_log.error_details.present? %>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
<% end %>

<div class="row-fluid">
	<div class="span10">
			<% if Rails.env.development? || Rails.env.test? %>
				<%= link_to '<i class="icon-refresh"></i> PREVIEW EMAIL - FOR DEV'.html_safe, preview_email_autoscoring_project_scoring_job_path(@autoscoring_project_scoring_job), :class => "btn btn-large btn-block btn-primary" %>
				<%= link_to '<i class="icon-refresh"></i> Admin - PROCESS - FOR DEV'.html_safe, process_file_autoscoring_project_scoring_job_path(@autoscoring_project_scoring_job), :class => "btn btn-large btn-block btn-primary" %>
			<% end %>
			<% if current_user.is_administrator? %>
				<%= link_to '<i class="icon-refresh"></i> Admin - Create Output CSV File'.html_safe, create_output_csv_file_autoscoring_project_scoring_job_path(@autoscoring_project_scoring_job), :class => "btn btn-large btn-block btn-primary" %>
				<%= link_to ' <i class="icon-warning-refresh"></i>  Admin - Sidekiq Enqueue Scoring Jobs Input File'.html_safe, enqueue_file_on_sidekiq_autoscoring_project_scoring_job_path(@autoscoring_project_scoring_job), :class => "btn btn-large btn-block btn-primary" %>
					<%=  link_to ' <i class="icon-download-alt"></i> Admin - Download Attempted File'.html_safe, download_current_input_file_autoscoring_project_scoring_job_path(@autoscoring_project_scoring_job), :class => "btn btn-large btn-block btn-primary" %>
			<% end %>
	
			<% if @autoscoring_project_scoring_job.completed? %>
			<h4><%=  @autoscoring_project_scoring_job.autoscoring_project_scoring_job_output_files.count.to_s %> Scored CSV File(s)</h4>	
			
				<div class="alert alert-block alert-info">
						<% if @autoscoring_project_scoring_job.has_multiple_output_files? %>
					This Scoring Job contains <strong>multiple</strong> CSV output files available to download because it records were split prior to scoring by their value in the column '<%= @autoscoring_project_scoring_job_log.split_output_by_column_name %>'.
						<% else %>
							This Scoring Job has only one CSV output file.
						<% end %>
				</div>
			
				<table class="table table-hover">
					<thead>
					<tr>
						<th>Group</th>
						<th class="scored-csv-file-file-name">File Name</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
						<%  @autoscoring_project_scoring_job.autoscoring_project_scoring_job_output_files.each do |output_file| %>
						<tr>
							<td><%= @autoscoring_project_scoring_job.has_multiple_output_files? ? output_file.split_value : "All Records" %></td>
							<td><%= File.basename(output_file.file_name.url, ".csv") %></td>
							<td><%= link_to '<i class="icon-download-alt"></i> Download'.html_safe, download_csv_output_file_autoscoring_project_scoring_job_path(:output_file_id => output_file), :class => "btn btn-large btn-block btn-success" %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
			
			<% if @autoscoring_project_scoring_job.encountered_errors? %>
					<p><%=  link_to ' <i class="icon-download-alt"></i> Download Attempted File'.html_safe, download_current_input_file_autoscoring_project_scoring_job_path( @autoscoring_project_scoring_job), :class => "btn btn-large btn-block btn-primary" %></p>	
				<p><%= link_to  '<i class="icon-upload"></i> Upload Revised File'.html_safe, edit_autoscoring_project_scoring_job_path(@autoscoring_project_scoring_job), :class => "btn btn-large btn-block btn-warning" %></p>
			<% end %>
	</div>
</div>