<% cache do %>
<%= link_to image_tag("ruffalocody-grey.png"), root_path, :class => 'brand' %></li>
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
</a>
<% end %>
<div class="nav-collapse collapse">
	<ul class="nav pull-left">
	<li></li>
	</ul>
	<ul class="nav pull-right">
		<% if user_signed_in? %>
		<% if current_user.is_administrator? %>
		<li>
		<%= link_to('Admin Panel', admin_root_path) %>
		</li>
		<% end %>
		<% end %>
		
	  	<% if user_signed_in? %>
	    <li>
	    <%= link_to('Manage Account', edit_user_registration_path(current_user)) %>
	    </li>
	    <li>
	    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
	    </li>
		<% else %>
		 <li>
			<%= link_to "Sign in", new_session_path(resource_name) %>
		</li>
		<% end %>
	</ul>
	</div>