<% if user_signed_in? %>
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li><%= link_to "Home", root_path %></li>
		</ul>
	</div>
	<div class="well sidebar">
		<h5>Technical Help</h5>
		<p>
			Please contact<br />
			<a href="mailto:brian@austengroup.com">Brian Kasen</a>
		</p>
	</div>
<% else %>
<% end %>
<% if params[:controller] == "pages" %>
<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<% end %>