<!DOCTYPE html>
<html>
<head>
  <title>RuffaloCODY EM Auto-Score System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-top">
		<nav class="navbar-inner">
			<div class="container-fluid">
				<%= render 'layouts/navigation' %>
			</div>
		</nav>
	</header>
	<div class="container-fluid">  
		<div class="row-fluid">
			<div id="flash" class="span12">
				<%= render 'layouts/messages' %>
			</div>
		</div>
		<div class="row-fluid">
				
				
			<% if user_signed_in? %>
				<div class="span2">
					<%= render 'layouts/sidebar' %>
				</div>
				<div class="span10">
					<%= yield %>
				</div>
			<% else %>
				<div class="span12">
					<%= yield %>
				</div>
			<% end %>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<%= render 'layouts/footer' %>
			</div>
		</div>
	</div>
</body>
</html>